//====================================
// Hero
//====================================
.hero {
    position: relative;
    height: 660px;
    // width: 100%;
    // z-index: -9999;
    overflow: hidden;
    background-color: $primary-color-light;
    background: url('../../img/hero.png') no-repeat right;
    // background-size: cover 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    &__container {
        width: 420px;
        height: 140px;
        position: absolute;
        top: 28%;
        left: 36%;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }
    &__title {
        font-size: 40px;
        letter-spacing: 0.1em;
        padding: 14px 5px;
        margin-bottom: 12px;
        text-align: center;
        // border: solid 5px $white;
    }
}

.typed {
        font-size: 28px;
        text-align: center;
}