//====================================
// Colors
//====================================
$primary-color: #5dd1ac;
$primary-color-light: #D9EDDF;
$primary-color-dark: #159A78;
$accent-color: #2E6274;
$secondary-text-color: #2F4858;
$divider-color: #99B0A7;
$dark: #212121;
$white: #ffffff;
