//====================================
// Colors
//====================================
$primary-color: #5dd1ac;
$primary-color-light: #b2dfdb;
$primary-color-dark: #00766c;
$accent-color: #607d8b;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$dark: #212121;
$white: #ffffff;
