doctype html
head
    title Alertándote
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
body
    include layout/header.pug
    section.hero
        .hero__container
            h1.hero__title <span>Alertandote</span>
            span.typed
            .typed__strings
                p.typed__text sistema de alertamiento sísmico para la CDMX.
                p.typed__text Cumple con la normativa de protección civil.
                p.typed__text Facil y sencillo de implementar
                //- p.typed__text Protege a los tuyos.
    //- Seccion eslogan  
    section.slogan.container
        h2.slogan__title Protege a los tuyos.
        p.slogan__text Con Alertandote puedes estar seguro que en caso de sísmo tu equipo te alertará de manera inmediata con el sonido oficial en el momento que el Servicio Sismológico Nacional lo determine.               

    include layout/contact-info.pug     