doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Alertándote
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
body
    include layout/header.pug
    //- Hero
    section.hero
        .hero__container
            h1.hero__title <span>Alertandote</span>
            span.typed
            .typed__strings
                p.typed__text sistema de alertamiento sísmico para la CDMX.
                p.typed__text Cumple con la normativa de protección civil.
                p.typed__text Facil y sencillo de implementar

    //- Sección eslogan  
    section.slogan.container
        h2.slogan__title Protege a los tuyos.
        p.slogan__text Con Alertandote puedes estar seguro que en caso de sísmo tu equipo te alertará de manera inmediata con el sonido oficial en el momento que el Servicio Sismológico Nacional lo determine.
        .middle
            a(href="#").btn.btn--btn1 Saber Más

    //- Sección caracteristicas
    section.characteristics.container
        h2.characteristics__title Alerta sísmica en tiempo real. 
        .characteristics__description
            p.characteristics__text A diferencia de otros sistemas de alertamiento sísmico, <strong>Alertandote recibe la señal directamente del <abbr title="Servicio Sismológico Nacional">SSN</abbr></strong> y es retransmitida en el momento exacto a todos nuestros equipos vía internet.
            p.characteristics__text Recibe la señal de alertamiento sísmico, <strong>hasta con 60 segundos de anticipación</strong> (dependiendo el epicentro), demostrando que es más rápido y confiable que otros sistemas existentes.
            p.characteristics__text Gracias a que recibimos la <strong>señal oficial</strong>, solo se te alertará cuando el <strong><abbr title="Servicio Sismológico Nacional">SSN</abbr></strong> lo determine y este sea considerado de riesgo, así evitando molestias o falsas alarmas.
            p.characteristics__text <strong>*Tu alerta cuenta con el sonido oficial característico de la ciudad de México. </strong>
        .characteristics__images
            img.characteristics__image(src="../img/MAPAAA.png", alt="imagen de muestra")

    //- Seccion Caracteriticas Plus
    seccion.characteristics-plus.container
        h3.characteristics-plus__title Más que un sistema de alertamiento sísmico.
        p.characteristics-plus__subtitle.characteristics-plus__subtitle--1 ¡Ten el control de tu Alertandote!
        .characteristics-plus__content
            p.characteristics-plus__text.characteristics-plus__text--left <strong>Controla y monitorea</strong> tu equipo Alertandote en tiempo real, desde nuestra aplicación web o móvil.
            p.characteristics-plus__text.characteristics-plus__text--left Realiza <strong>simulacros en tiempo real</strong>, para incentivar la cultura de prevención y estar preparado en caso de terremoto.
        p.characteristics-plus__subtitle.characteristics-plus__subtitle--2 ¡Gran variedad de Sondios!
        .characteristics-plus__content
            p.characteristics-plus__text.characteristics-plus__text--right Para distintos tipos de siniestros cuenta con <strong>catálogo de sonidos</strong> listos para enviar a tu equipo Alertandote, tales como incendios, huracanes, tormentas, fugas, tsunamis y muchos más.
            p.characteristics-plus__text.characteristics-plus__text--right Graba <strong>audios personalizados</strong> y envialos al instante a cualquiera de tus equipos Alertandote o guardalos y <strong>crea tu propio catálogo</strong>.
        img.characteristics-plus__image1(src="../img/activar-simulacro.gif", alt="")
        img.characteristics-plus__image2(src="../img/voceo.gif", alt="")

    //- Seccion Productos
    section.products
        h2.products__title Productos
        .tabs
            input#tab1.tabs__input(type='radio', name='tab-control', checked='')
            input#tab2.tabs__input(type='radio', name='tab-control')
            input#tab3.tabs__input(type='radio', name='tab-control')
            ul
                li(title='Features')
                    label(for='tab1', role='button')
                        svg(viewBox='0 0 24 24')
                            path(d='M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z')
                        br
                        span Alertandote Residencial
                li(title='Delivery Contents')
                    label(for='tab2', role='button')
                        svg(viewBox='0 0 24 24')
                            path(d='M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z')
                        br
                        span Alertandote Pro
                li(title='Shipping')
                    label(for='tab3', role='button')
                        svg(viewBox='0 0 24 24')
                            path(d='M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z')
                        br
                        span Alertandote Industrial
            .slider
                .indicator
            .product-content
                section.product-content__section
                    h2.product-content__title Alertandote Residencial
                    p.product-content__text.product-content__text--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in eum obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas voluptates quibusdam cum?
                    p.product-content__text.product-content__text--2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo corrupti nulla cupiditate et dolorum repellendus.
                    p.product-content__text.product-content__text--3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facilis quae harum, tempore fugiat aspernatur!
                section.product-content__section
                    h2.product-content__title Alertandote Pro
                    p.product-content__text.product-content__text--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
                    p.product-content__text.product-content__text--2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi exercitationem quos ipsam atque repudiandae.
                    p.product-content__text.product-content__text--3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis laborum porro dignissimos cum repudiandae nam maiores at debitis.
                section.product-content__section    
                    h2.product-content__title Alertandote Industrial
                    p.product-content__text.product-content__text--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt voluptate labore, excepturi numquam! Veniam, quia in eum.
                    p.product-content__text.product-content__text--2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quisquam nulla aut consequuntur dolorem!
                    p.product-content__text.product-content__text--3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis mollitia ex quidem molestiae corporis ducimus vero?


    include layout/contact-info.pug     