doctype html
head
    title Alertándote
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
body
    include layout/header.pug
    section.hero
        .hero__container
            h1.hero__title <span>Alertandote</span>
            p.hero__subtitle Cada segundo es una oportunidad, protege a los tuyos.

    include layout/contact-info.pug        