//====================================
// Contact Info
//====================================
.contact-info {
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 9;
    box-shadow: 0 0 50px rgba(0,0,0,.08);
}

.option {
    position: relative;
    cursor: pointer;
    &:hover .option__text {
        left: 40px;
    }
    &__icon {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        transition: 0.6;
        background-color: $primary-color;
        color: $white;
        &:hover {
            color: $primary-color-dark;
        }
    }
    &__text {
        position: absolute;
        width: 180px;
        height: 40px;
        top: -40px;
        left: -140px;
        z-index: -1;
        text-align: center;
        line-height: 40px;
        background-color: $primary-color-dark;
        color: $white;
        transition: 0.6s;
    }
}