//====================================
// Layout General
//====================================
html {
    min-height: 100%;
    @include box-sizing(border-box);
    font-size: $primaryFontSize * 1px;
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
    @include antialiased;
}

body {
    min-height: 100%;
    font-family: $primaryFont;
    font-weight: 300;
    color: $dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primaryFont;
}

input, select, textarea, button {
    font-family: inherit;
}

button {
    padding: 0px;
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: 500;
}

.container {
    max-width: 1000px;
    // margin: 0 auto;
    margin: 45px auto;
    padding: 0 50px;
    @include transition(max-width ease .2s);
    @include box-sizing(content-box);
}

.middle {
    margin: 20px auto;
}

.btn {
    @include button($primary-color, $accent-color);
}

.btn-2 {
    @include button($primary-color-dark, $primary-color-dark);
}

    // &--secondary {
    //     @include button;
    //     border: 2px solid $accent-color;
    //     &::before {
    //         background: $accent-color;
    //     }
    // }