//====================================
// Mediaqueries
//====================================
@media screen and (min-width: 1800px) {
    .hero {
        background-size: cover;
        &__container {
            width: auto;
        }
    }
}

// @media screen and (max-width: 1100px) {
//     .container {
//         max-width: 900px;
//     }
// }

@media screen and (max-width: 820px) {
    // HEADER
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        padding: 80px 0;
        text-align: center;
        line-height: normal;
        background: $accent-color;
        transition: 0.7s;
        &__link {
            display: block;
            padding: 20px;
            &--border {
                border: none;
            }
        }
        &__btn {
            display: block;
            &--hiden {
                position: absolute;
                top: 25px;
                right: 25px;
            }
        }
    }
    .chk:checked ~ .menu {
        right: 0;
    }

    // SLOGAN
    .slogan {
        margin-bottom: 0;
        &__text {
            font-size: 16px;
        }
    }

    // Characteristics
    .characteristics {
        grid-auto-columns: 1fr 1fr;
        grid-template-rows: 80px 200px 1fr;
        grid-template-areas: 
            "title title"
            "image image"
            "text text";
        &__image {
            width: 250px;
           margin-top: 0; 
           margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    // HERO
    .hero__container {
        top: 30%;
        left: 42%;
    }
}

@media screen and (max-width: 720px) {
    // Characteristics
    .characteristics {
        grid-template-rows: 80px 120px 1fr;
        align-items: center;
        &__container {

        }
    }
}

@media screen and (max-width: 640px) {
    // HERO
    .hero {
        &__title {
        font-size: 35px
        }
    }
    .typed {
        font-size: 20px;
    }

    .hero__container {
        left: 47%;
    }
}

@media screen and (max-width: 540px) {
    // HERO
    .hero {
        &__container {
            width: 225px;
        }
        &__title {
        font-size: 27px
        }
    }
    .typed {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    // Characteristics
    .characteristics {
        grid-template-rows: 80px 150px 1fr;
        align-items: center;
        &__container {

        }
    }
    .characteristics__image {
        width: 280px;
    }
}

@media screen and (max-width: 378px) {
    // Characteristics
    .characteristics {
        grid-template-rows: 50px 150px 1fr;
        &__title {
            font-size: em(18);
        }
        &__image {
            width: 220px;
        }
    }
}




@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}

@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
    br {
      display: initial;
    }
    svg {
      height: 1.5em;
    }
  }
}

@media (max-width: 600px) {
  .tabs {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      span {
        display: none;
      }
    }
    .slider {
      display: none;
    }
    .product-content {
      margin-top: 20px;
      section h2 {
        display: block;
      }
    }
  }
}