//====================================
// Mediaqueries
//====================================
@media screen and (min-width: 1800px) {
    .hero {
        background-size: cover;
        &__container {
            width: auto;
        }
    }
}

// @media screen and (max-width: 1100px) {
//     .container {
//         max-width: 900px;
//     }
// }

@media screen and (max-width: 820px) {
    // HEADER
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        padding: 80px 0;
        text-align: center;
        line-height: normal;
        background: $accent-color;
        transition: 0.7s;
        &__link {
            display: block;
            padding: 20px;
            &--border {
                border: none;
            }
        }
        &__btn {
            display: block;
            &--hiden {
                position: absolute;
                top: 25px;
                right: 25px;
            }
        }
    }
    .chk:checked ~ .menu {
        right: 0;
    }

    // SLOGAN
    .slogan {
        margin-bottom: 0;
        &__text {
            font-size: 16px;
        }
    }

    .characteristics {
        grid-auto-columns: 1fr 1fr;
        grid-template-rows: 80px 200px 1fr;
        grid-template-areas: 
            "title title"
            "image image"
            "text text";
        &__image {
            width: 50%;
           margin-top: 0; 
        }
    }
}

@media screen and (max-width: 768px) {
    // HERO
    .hero__container {
        top: 30%;
        left: 42%;
    }
}

@media screen and (max-width: 720px) {
    .characteristics {
        grid-template-rows: 80px 120px 1fr;
        align-items: center;
        &__container {

        }
    }
}

@media screen and (max-width: 640px) {
    // HERO
    .hero {
        &__title {
        font-size: 35px
        }
    }
    .typed {
        font-size: 20px;
    }

    .hero__container {
        left: 47%;
    }
}

@media screen and (max-width: 540px) {
    // HERO
    .hero {
        &__container {
            width: 225px;
        }
        &__title {
        font-size: 27px
        }
    }
    .typed {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .characteristics {
        grid-template-rows: 80px 150px 1fr;
        align-items: center;
        &__container {

        }
    }
    .characteristics__image {
        width: 280px;
    }
}

@media screen and (max-width: 378px) {
    .characteristics {
        grid-template-rows: 50px 150px 1fr;
        &__title {
            font-size: em(18);
        }
        &__image {
            width: 220px;
        }
    }
}