//- CONTACT INFO
.contact-info
    .option
        i.option__icon.fas.fa-map-marker-alt
        .option__text Hermosillo 26

    .option
        i.option__icon.far.fa-envelope
        .option__text ventas@alertandote.com

    .option
        i.option__icon.fas.fa-mobile-alt
        .option__text +525500000000       