//- HEADER
header.header
        img.logo(src="../img/logo.png", alt="Alertandote")
        input#chk.chk(type='checkbox')
        label.menu__btn.menu__btn--show.show-menu-btn(for='chk')
            i.menu__icon.fas.fa-ellipsis-h

        ul.menu
            li.menu__item
                a.menu__link(href='#') Productos
            li.menu__item
                a.menu__link(href='#') ¿Cómo Funciona?
            li.menu__item
                a.menu__link(href='#') Blog 
            li.menu__item
                a.menu__link(href='#') Preguntas Frecuentes
            li.menu__item
                a.menu__link.menu__link--border(href='#') Panel Clientes
            label.menu__btn.menu__btn--hiden.hide-menu-btn(for='chk')
                i.menu__icon.fas.fa-times