//- HEADER
header.header
        h2.logo Alertandote
        input#chk.chk(type='checkbox')
        label.menu__btn.menu__btn--show.show-menu-btn(for='chk')
            i.menu__icon.fas.fa-ellipsis-h

        ul.menu
            li.menu__item
                a.menu__link(href='#') Productos
            li.menu__item
                a.menu__link(href='#') Contactanos
            li.menu__item
                a.menu__link(href='#') Blog 
            li.menu__item
                a.menu__link(href='#') Preguntas Frecuentes
            li.menu__item
                a.menu__link(href='#') Panel Clientes
            label.menu__btn.menu__btn--hiden.hide-menu-btn(for='chk')
                i.menu__icon.fas.fa-times